
<nav>
    <ul>
      <li>
        <!--  @ilias llink directly tou route -->
        <a routerLink="">   
        <i class="material-icons">supervised_user_circle</i>
        </a>
      </li>
      <li>
          <a routerLink="posts">
            <i class="material-icons">message</i>
          </a>
        </li>
        <li>
            <a routerLink="faces">
                <i class="material-icons">
                    face
                    </i>
            </a>
          </li>
  
        
    </ul>
  </nav>